.navbar{
    max-width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-right: 40px;
    gap: 5px;

    .logo{
        flex: 1;
        align-items: center;
        justify-content: center;

        img{
            width: 100px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .menus{
        flex: 4;
   
        display: flex;
        justify-content: space-between;
        nav{
            display: flex;
            align-items: center;
         
            min-height: 100%;
            ul{
                display: flex;
                align-items: center;
                list-style: none;
               
           
                gap: 40px;
                li{
                    
                    
                    a{
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 500;
                        color:  rgb(58, 89, 156);
                        line-height: 80px;
                    }
                    &:hover{
                        cursor: pointer;
                        border-bottom: 5px solid rgb(58, 89, 156);
                    }
                    
                }
            }
        }

       

    }

    .action{
        flex: 2;
        .btnLink{
            padding: 10px;
            margin-right: 10px;
            background-color:  rgb(58, 89, 156);
            font-weight: 700;
            color: #fff;
            border-radius: 5px;
            font-size: 15px;
            outline: none;
            border: 0px solid transparent;
            text-decoration: none;
            

            &:hover{
                cursor: pointer;
                opacity: .8;
            }

        }
    }
    .search-area{
        flex: 2;
        border: 1px solid rgb(58, 89, 156);
        height: 40px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        input{
           
            width: 80%;
            border: 0px solid transparent;
            outline: none;
            padding: 10px;
        }

        button{
           padding: 10px;
           display: flex;
           align-items: center;
           justify-content: center;
           border: 0px solid transparent;
           font-size: 20px;
           background-color: rgb(58, 89, 156);
           color: #fff;

           &:hover{
            cursor: pointer;
            opacity: .8;
           }
        }
    }

}