.pageheader{
    max-width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    background-image: url("../../images/bg/1.jpg");
    opacity: .8;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;



    .page-title{
        font-size: 40px;
        // position: absolute;
        color: azure;
        margin-top: 0px;

    }

    .line{
        width: 5%;
        border: 2px solid #fff;
        background-color: #fff;
   
        margin-bottom: 20px;
    }
    
    p{
        color: rgb(235, 231, 231);
        font-size: 14px;
       
    }
}