.price{
    max-width: 100%;
    min-height: 500px;
    padding: 40px 150px;
    background-image: url("../../images/bg/26.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .price-wrapper{
        margin-top: 30px;
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        padding-bottom: 40px;
        
        .price-container{
            flex: 1;
            display: flex;
            flex-direction: column;
            width: 23%;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 8px 9px 6px -4px rgba(0,0,0,0.10);
            -webkit-box-shadow: 8px 9px 6px -4px rgba(0,0,0,0.10);
            -moz-box-shadow: 8px 9px 6px -4px rgba(0,0,0,0.10);

            &:hover{
                cursor: pointer;
                color: #ffffff;
                background-color: rgb(58, 89, 156);
                min-height: 420px;
            }
            &:hover ul li{
                color: #ffffff;
            }
            &:hover .plan{
                color: #ffffff;
            }
            &:hover button{
                background-color: #ffffff;
                color: rgb(58, 89, 156);
            }

            .plan{
                display: flex;
                align-items: center;
                justify-content: center;
                color: rgb(58, 89, 156);
                font-weight: bold;
                font-size: 17px;
                margin-top: 10px;
        }

            .price-tag{

                font-weight: bold;
                font-size: 25px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 25px;

                small{
                    font-size: 14px;
                    color: rgb(58, 89, 156);
                }
            }
            ul{

                padding-left: 30px;
                margin-top: 20px;
                list-style:circle;

                li{
                    line-height: 30px;
                    color: rgb(58, 89, 156);
                }
            }
            button{
                background-color: rgb(58, 89, 156);
                padding: 10px;
                width: 50%;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                border:1px solid transparent;
                margin-top: 20px;
                border-radius: 10px;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: bold;
                &:hover{
                    cursor: pointer;
                    opacity: .8;
                }
            }
        }
    }


       
       
      
            

}